Python 3.6.3

Libs (perform a pip install if you want them)
- Pandas
- Numpy
- Matplotlib
- Seaborn

Data files (CSV and XML) are ignored because they're too large.
They can be downloaded here => https://openclassrooms.com/courses/manipulez-des-donnees-avec-python-1/tirez-parti-de-ce-cours-1 (scroll to the bottom)